/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

// Even our InnerBlocks right/left positioning with header
.wceu-innerblocks {
  margin-left: -14px;
  margin-right: -14px;
}

.wceu-header {
  padding-bottom: 1.5rem; // Spacing only relevant to edit view
}